@use "../../styles/variables" as v;

.post-overlay {
	position: fixed;
	height: 100vh;
	width: 100vw;
	z-index: 99999;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	animation: fadeIn 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;

	&.closing {
		opacity: 0;
	}
}

.post {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: v.$color-bg-secondary;
	padding: 25px;
	border-radius: v.$border-radius;
	max-width: 1000px;
	width: 100%;
	z-index: 99999;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	animation: fadeIn 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;

	&.closing {
		opacity: 0;
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&__title {
			font-weight: 600;
			font-size: 1.5rem;
		}

		&__close {
			font-size: 1.5rem;
			cursor: pointer;
			transition: color 0.2s ease-in-out;

			&:hover {
				color: v.$color-danger;
			}
		}
	}

	&__body {
		padding-top: 15px;
		display: flex;

		&__content {
			width: 60%;
			border-right: 1px solid v.$color-border;
			padding-right: 25px;

			&__text {
				color: v.$color-subtext;
			}

			&__labels {
				padding-top: 10px;
				display: flex;
				gap: 10px;
				flex-wrap: wrap;

				&__label {
					background-color: v.$color-accent;
					padding: 5px 10px;
					border-radius: v.$border-radius;
					font-size: 0.9rem;
				}
			}

			&__comment {
				margin-top: 15px;
				resize: none;
			}

			&__submit-comment {
				width: fit-content;
				margin-top: 5px;
				position: relative;
				margin-left: auto;
			}

			&__comments {
				display: flex;
				flex-direction: column;
				gap: 15px;

				.post__body__content__comments-container {
					height: 400px;
					overflow-y: auto;
				}

				&__title {
					font-size: 1.2rem;
					font-weight: 600;
					margin-bottom: -5px;
				}

				&__comment {
					display: flex;
					gap: 5px;
					flex-direction: column;
					cursor: pointer;
					padding: 10px;
					transition: background-color 0.2s ease-in-out;
					border-radius: v.$border-radius;

					&:hover {
						background-color: lighten(v.$color-bg-secondary, 5%);

						.post__body__content__comments__comment__meta__delete {
							opacity: 1;
						}
					}

					&__content {
						width: 100%;
						color: v.$color-subtext;
					}

					&__meta {
						display: flex;
						flex-direction: column;
						gap: 5px;

						&__author {
							font-weight: 600;
						}

						&__date {
							color: v.$color-subtext;
						}

						&__delete {
							opacity: 0;
							transition: opacity 0.2s ease-in-out;
						}
					}
				}
			}
		}

		&__meta {
			padding-left: 25px;
			width: 40%;
			display: flex;
			flex-direction: column;
			gap: 15px;

			&__item {
				align-items: center;
				gap: 50px;
				display: grid;
				grid-template-columns: 1fr auto;

				&:last-child {
					border-top: 1px solid v.$color-border;
					padding-top: 15px;
				}

				&__label {
					color: v.$color-subtext;
				}

				&__value {
					height: 24px;
					display: flex;
					align-items: center;

					select {
						padding-top: 0;
						padding-bottom: 0;
						height: 100%;
					}
				}
			}
		}
	}

	&.post-create {
		max-width: 600px;

		.post__header {
			&__title {
				font-size: 1.1rem;
				font-weight: 500;
			}
		}

		.post__body {
			display: block;

			.post-create__labels {
				display: flex;
				flex-wrap: wrap;
				gap: 10px;
				align-items: center;

				&__label {
					background-color: v.$color-accent;
					padding: 5px 10px;
					border-radius: v.$border-radius;
					font-size: 0.8rem;
					border: 2px solid v.$color-accent;
					font-weight: 500;

					&.new {
						background-color: transparent;
						border: 2px dotted v.$color-border;
						transition: border-color 0.2s ease-in-out;
						cursor: pointer;
						position: relative;

						&:hover {
							border-color: v.$color-accent;
						}

						.post-create__labels__label__dropdown {
							position: absolute;
							top: calc(100% + 10px);
							background-color: v.$color-bg-secondary;
							box-shadow: 0 12px 10px rgba(0, 0, 0, 0.3);
							border-radius: v.$border-radius;
							left: 0;
							z-index: 9999;
							min-width: 100px;
							width: 100%;
							display: flex;
							flex-direction: column;
							transition: height 0.2s ease-in-out;
							overflow: hidden;

							&__item {
								cursor: pointer;
								transition: background-color 0.2s ease-in-out,
									color 0.2s ease-in-out;
								font-size: 0.8rem;
								font-weight: 500;
								padding: 10px;

								&.active {
									color: v.$color-accent;
									background-color: rgba(119, 107, 220, 0.1);
								}

								&:hover {
									background-color: lighten(
										v.$color-bg-secondary,
										10%
									);
								}
							}
						}
					}
				}
			}
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
