{% extends "pages/base.html" %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'pages/css/home.css' %}" />
{% endblock %} {% block content %}
<section class="hero fade-in-up">
	<span class="hero__notice"
		>Your all-in-one product engagement platform</span
	>
	<h1 class="hero__title">Create products your users adore</h1>
	<h2 class="hero__description">
		Effortlessly gather feedback, prioritize features, and innovate with
		confidence.
	</h2>

	<div class="hero__ctas">
		<a href="" class="button">Start listening</a>
		<a href="" class="button reverse">Demo</a>
	</div>
</section>

<section class="features fade-in-up" id="features">
	<h3 class="section__title">Why {{ app_name }}?</h3>
	<p class="section__description">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
		voluptatum.
	</p>

	<div class="feature__list">
		<div class="feature">
			<div class="feature__text">
				<h4 class="feature__name">Feature Requests</h4>
				<p class="feature__description">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Quisquam, voluptatum. Lorem ipsum dolor sit amet consectetur
					adipisicing elit. Quisquam, voluptatum. Lorem ipsum dolor
					sit amet consectetur adipisicing elit. Quisquam, voluptatum.
				</p>
			</div>
			<img
				src="https://via.placeholder.com/300"
				alt="Feature image"
				class="feature__image"
			/>
		</div>
		<div class="feature">
			<div class="feature__text">
				<h4 class="feature__name">Feedback</h4>
				<p class="feature__description">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Quisquam, voluptatum. Lorem ipsum dolor sit amet consectetur
					adipisicing elit. Quisquam, voluptatum. Lorem ipsum dolor
					sit amet consectetur adipisicing elit. Quisquam, voluptatum.
				</p>
			</div>
			<img
				src="https://via.placeholder.com/300"
				alt="Feature image"
				class="feature__image"
			/>
		</div>
		<div class="feature">
			<div class="feature__text">
				<h4 class="feature__name">Bugs</h4>
				<p class="feature__description">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Quisquam, voluptatum. Lorem ipsum dolor sit amet consectetur
					adipisicing elit. Quisquam, voluptatum. Lorem ipsum dolor
					sit amet consectetur adipisicing elit. Quisquam, voluptatum.
				</p>
			</div>
			<img
				src="https://via.placeholder.com/300"
				alt="Feature image"
				class="feature__image"
			/>
		</div>
		<div class="feature">
			<div class="feature__text">
				<h4 class="feature__name">Roadmap</h4>
				<p class="feature__description">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Quisquam, voluptatum. Lorem ipsum dolor sit amet consectetur
					adipisicing elit. Quisquam, voluptatum. Lorem ipsum dolor
					sit amet consectetur adipisicing elit. Quisquam, voluptatum.
				</p>
			</div>
			<img
				src="https://via.placeholder.com/300"
				alt="Feature image"
				class="feature__image"
			/>
		</div>
		<div class="feature">
			<div class="feature__text">
				<h4 class="feature__name">Changelog</h4>
				<p class="feature__description">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Quisquam, voluptatum. Lorem ipsum dolor sit amet consectetur
					adipisicing elit. Quisquam, voluptatum. Lorem ipsum dolor
					sit amet consectetur adipisicing elit. Quisquam, voluptatum.
				</p>
			</div>
			<img
				src="https://via.placeholder.com/300"
				alt="Feature image"
				class="feature__image"
			/>
		</div>
	</div>
</section>

<section class="pricing fade-in-up" id="pricing">
	<h3 class="section__title">Pricing</h3>
	<p class="section__description">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
		voluptatum.
	</p>

	<div
		class="pricing__list"
		style="grid-template-columns: repeat({{plans|length}}, 1fr)"
	>
		{% for plan in plans %}
		<div class="plan">
			<div class="plan__head">
				<div class="plan__name">{{plan.name}}</div>
				<div class="plan__price">${{plan.price}}</div>
			</div>
			<div class="plan__features">
				{% for feature in plan.features.splitlines %}
				<div class="plan__feature">
					<div class="plan__feature__icon">✓</div>
					<div class="plan__feature__text">{{feature}}</div>
				</div>
				{% endfor %}
			</div>

			<a href="" class="button">Get started</a>
		</div>
		{% endfor %}
	</div>
</section>

{% endblock %}
